
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*
Dockerfile.cross

*.test

*.out
go.work

!vendor/**/zz_generated.*

.idea
.vscode
*.swp
*.swo
*~

*.kubeconfig

.gocache/
.tools/.cache/

ec2instance.local.yaml
*.pem
.aws/
get_helm.sh
